.itemContainer {
    cursor: grab;
    margin-top: 0.7em;
    background-color: var(--hope-colors-primary3);
    border-radius: var(--hope-radii-md);
    padding: var(--hope-space-4);
    display: flex;
    /* If your need use touch event, you need add touch-action:none*/
    touch-action: none;
}

.itemContainerGrabbed {
    cursor: grab;
    margin-top: 0.7em;
    background-color: var(--hope-colors-neutral3);
    border-radius: var(--hope-radii-md);
}

.icon {
    position: relative;
    top: 1;
    margin-right: 1em;
    font-size: 1.2em;
}