.resultContainer{
    display: flex;
    justify-content: space-around;
}

.achivedPoints {
    color: var(--hope-colors-success9);
    font-size: larger
}

.allPoints {
    color: var(--hope-colors-success9);
    font-size: larger
}